:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color:rgb(4, 23, 0);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h2, h1{
  margin: 0;
  text-indent: 0%;
  padding: 0;
}
h2{
  border-bottom: 2px solid rgb(0, 170, 0);
}
p{
  font-size: large;
  font-weight: 400;
}
nav a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.089); */
  transition: 0.5s;
}
.navBar a:hover {
  color: rgb(206, 206, 181);
  border-bottom: 2px solid rgb(206, 206, 181);
}
button{
  color: white;
  background-color: darkgoldenrod;
  border: none;
  border-radius: 2px;
  max-width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: medium;
  font-weight: 500;
  margin-right: 30px;
  margin-top: 30px;
}
button:hover{
  padding: 10px 25px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
nav{
  background-color: rgba(0, 0, 0, 0.555);
  position: relative;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileNav{
  background-color: #1d1d1d;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 80px;
  right: -2px;
  left: -2px;
}
.mobileNav a:hover{
  transform: scale(1.1);
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
}
.navBar{

  display: flex;
  gap: 50px;
  overflow: hidden;
}
.hamburgerMenu{
  display:none;
}
.homePage{
  width: 100%;
  margin: auto;
}
header{
  display: flex;
  justify-content: left;
  text-align: left;
  padding: 100px 10%;
  width: 70%;
  margin: auto;
  /* background-color: rgba(255, 255, 255, 0.777); */
  margin-bottom: 100px;
  margin-top: 100px;
  color: #c7c7c7;
}
.headerText{
  max-width: 500px;
 padding-top: 50px;
}
/* header p, header h1 {
  color: #ffffff;
} */
.mainTitle{
  color: goldenrod;
  font-size: 5rem;
  padding-bottom: 70px;
}
.secondaryTitle{
  display: flex;
  align-items: center;
  gap: 10px;
}
.specialitySection{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:rgba(4, 23, 0, 0.777); */
  background-color: rgba(0, 0, 0, 0.555);
  padding-top: 150px;
  padding-bottom: 120px;
  overflow: hidden;
}

.specialitySection p{
  padding: 0 15%;
}
.specialityCardsContainer{
  margin-top: 50px;
  justify-content: space-evenly;
  overflow: hidden;
}
.specialityCard{
  position: relative;
  border-radius: 10px;
  border: 5px solid rgba(4, 44, 0, 0.555);
  outline: 3px solid rgb(255, 255, 255);
  margin: auto;
  background-color: rgba(223, 223, 223, 0.999);
  width: 300px;
  height: 505px;
  transition: 0.5s;
  color: #232323;
  text-align: left;
  cursor: pointer;
}
.specialityCard:hover{
  transform: scale(1.03);
  background-color: rgba(255, 255, 255);
}
.specialityCard h3{
  text-indent: 20px;
  border-bottom: 2px solid rgba(0, 128, 0, 0.555);
  box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.333);
}
.deliveryTag{
  position: absolute;
  padding: 6px 8px;
  top:130px;
  right: -30px;
  background-color: rgb(255, 255, 119);
  cursor: pointer;
  border-radius: 3px;
}
.animationContainer{
  padding: 80px;
  transition: 0.8s;
  background-position: center;
}
.animationContainer:hover{
  background-image: url(assets/cardHover2.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
.testimonialSection{
  /* background-image: url(./assets/lemonTree.jpg); */
  /* background-color: rgba(255, 255, 255, 0.555); */
  width: 100%;
}
.testimonialCardContainer{
  padding: 50px;
  padding-bottom: 100px;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px
}
.testimonialCard{
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
  color: #303030;
  border-radius: 5px;
  height: 180px;
  width: 30%;
  min-width: 300px;
  padding: 15px;
  text-align: left;
}
.carousel{
  position: relative;
}
.prev, .next{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.555);
  margin: 0;
  top:40%;
  border-radius: 35px;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}
.prev:hover, .next:hover{
  background-color: rgba(255, 217, 0, 0.555);
}
.prev{
  left:10px;
}
.next{
  right: 10px;
}
.testimonialCard p{
  font-size:medium;
}
.testimonialHeader{
  display: flex;
  gap: 50px;
}
.hidden{
  display: none;
}
.aboutSection{
  /* background-color:rgba(4, 23, 0, 0.888); */
  background-color: rgba(0, 0, 0, 0.555);
  padding: 120px 0px 100px 0px;
  gap:50px;
  justify-content: space-evenly;
}
.aboutImg{
  margin: auto;
  /* padding: 35px; */
  flex-shrink: 1;
  height: 550px;
}
.aboutText{
  margin: auto;
  text-align: left;
  width: 600px;
  text-indent: 50px;
}
.aboutText p, .secondaryTitle{
  padding: 10px;
}
.iconContainer{
  margin: auto;
  display: flex;
  gap: 50px;
  padding-left: 8%;
  margin-top: 30px;
}
.iconContainer img{
  filter: brightness(20%);
}
footer{
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 150px;
  padding-top: 100px;
  color: rgba(206, 206, 206, 0.8);
  gap: 150px
}
footer div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap:100px
}
footer h3{
  color:rgb(89, 124, 89);
}
footer span{
  font-size: 5em;
}
ul{
  text-align: left;
  padding: 20px;
}
.socials img{
  filter: saturate(0%);
  margin: 10px;
  cursor: pointer;
}
.socials img:hover{
  filter: saturate(100%);
}
li{
  display: flex;
  justify-content: space-between;
  gap:20px;
}
iframe{
  border: none;
}
.tableBookingSection{
  background-image: url(./assets/restaurant.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  width: 100%;
}
.manageBookingSection{

  padding-top: 100px;
  padding-bottom: 100px;
}
.manageBookingSection img{
  padding: 100px 0px 50px 0px;
}
.manageBookingSection ul{
  background-color: rgba(255, 255, 255, 0.555);
  color:#232323;
}
.bookings{
  margin-top: 20px;
  background-color: white;
}
form, .thankYou{
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  min-height: 500px;
}
form, .formEdit, .thankYou{
  display: flex;
  padding: 10%;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
}
.formEdit li{
  align-items: center;
}
.wrapper label{
  width: 155px;
  text-align: left;
}
form input, form select{
  height: 35px;
}
form input, form select, textarea{
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 3px;
  padding: 2px 12px;
  border: none;
}
form label{
  font-weight: 600;
}
.radioInput{
display: flex;
align-items: center;
gap: 5px;
}
.deleteBtn{
  color:red;
  text-decoration: underline;
  font-size: 1.5em;
  cursor: pointer;
}
.menuSection{
  display: flex;
  justify-content: space-evenly;
}
.menuPage{
  background-color: rgba(255, 255, 255, 0.555);
  padding: 50px;
  height: 500px;
}

@media screen and (max-width: 770px){
  .navBar{
    display: none;
  }
  nav img{
    height: 55px;
  }
  .hamburgerMenu{
    display: block;
  }
  .specialitySection{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  form, .formEdit, .thankYou, header, footer{
    padding: 10% 3%;
  }
  .aboutImg{
    height: 350px;
  }
  header{
    width:90%;
  }
  footer{
    gap:10px;
  }
  footer div{
    gap:50px;
  }
}
@keyframes wooble {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}