:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color:rgb(4, 23, 0);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h2, h1{
  margin: 0;
  text-indent: 0%;
  padding: 0;
}
h2{
  border-bottom: 2px solid rgb(0, 170, 0);
}
p{
  font-size: large;
  font-weight: 400;
  max-width: 770px;
}
nav a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.089); */
  transition: 0.5s;
}
.navBar a:hover {
  color: rgb(206, 206, 181);
  border-bottom: 2px solid rgb(206, 206, 181);
}
button{
  color: white;
  background-color: darkgoldenrod;
  border: none;
  border-radius: 2px;
  max-width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: medium;
  font-weight: 500;
  margin-right: 30px;
  margin-top: 30px;
}
button:hover{
  padding: 10px 25px;
}
button:disabled{
  background-color: rgba(48, 48, 48, 0.777);
  cursor: not-allowed;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
nav{
  background-color: rgba(0, 0, 0, 0.777);
  position: relative;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileNav{
  background-color: #1d1d1d;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 80px;
  right: -2px;
  left: -2px;
  z-index: 2;
}
.mobileNav a:hover{
  transform: scale(1.1);
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
}
.navBar{

  display: flex;
  gap: 50px;
  overflow: hidden;
}
.hamburgerMenu{
  display:none;
}
.homePage{
  width: 100%;
  margin: auto;
}
header{
  display: flex;
  justify-content: left;
  text-align: left;
  padding: 100px 10%;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.777);
  background-image: url(assets/headerimg1.png);
  background-position:bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:right;
  /* background-image: url(./assets/itFood.jpg);
  background-position:bottom;
  background-size: cover;
  background-blend-mode:hard-light; */
  margin-bottom: 100px;
  margin-top: 100px;
  color: rgb(46, 35, 7)
}
header h2{
  font-size: 2.5rem;
}
.headerText{
  max-width: 550px;
  padding-top: 50px;
}
/* header p, header h1 {
  color: #ffffff;
} */
/* .mainTitle{
  color: goldenrod;
  font-size: 7rem;
  padding-bottom: 70px;
  font-family: 'Charm', cursive;
  font-weight: 700;
  filter: drop-shadow(3px 3px 10px rgba(78, 78, 0, 0.555));
} */
.secondaryTitle{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color:aliceblue;
  filter: drop-shadow(3px 3px 10px black);
}
footer i{
  font-family: 'Great Vibes', cursive;
  font-size: 2.2rem;
  color: aliceblue;
}
.specialitySection{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:rgba(4, 23, 0, 0.777); */
  background-color: rgba(0, 0, 0, 0.555);
  padding-top: 150px;
  padding-bottom: 120px;
  overflow: hidden;
}

.specialityCardsContainer{
  margin-top: 50px;
  justify-content: space-evenly;
  overflow: hidden;
}
.specialityCard{
  position: relative;
  border-radius: 10px;
  border: 5px solid rgba(4, 44, 0, 0.555);
  outline: 3px solid rgb(255, 255, 255);
  margin: auto;
  background-color: rgba(223, 223, 223, 0.999);
  width: 280px;
  height: 505px;
  transition: 0.5s;
  color: #232323;
  text-align: left;
  cursor: pointer;
}
.specialityCard:hover{
  transform: scale(1.03);
  background-color: rgba(255, 255, 255);
}
.specialityCard h3{
  text-indent: 20px;
  border-bottom: 2px solid rgba(0, 128, 0, 0.555);
  box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.333);
}
.specialityCard p{
  padding: 20px;
}
.priceTag{
  position: absolute;
  padding: 6px 8px;
  top:130px;
  right: -30px;
  background-color: rgb(255, 255, 119);
  cursor: pointer;
  border-radius: 3px;
}
.animationContainer{
  padding: 80px;
  transition: 0.8s;
  background-position: center;
}
.animationContainer:hover{
  background-image: url(assets/cardHover2.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
.testimonialSection{
  /* background-image: url(./assets/lemonTree.jpg); */
  /* background-color: rgba(255, 255, 255, 0.555); */
  width: 100%;
}
.testimonialCardContainer{
  padding: 50px;
  padding-bottom: 100px;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px
}
.testimonialCard{
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
  color: #303030;
  border-radius: 5px;
  height: 180px;
  width: 30%;
  min-width: 300px;
  padding: 15px;
  text-align: left;
}
/* .ratingNumber{
  color: goldenrod;
  font-weight: 200;
  align-self: flex-end;
  padding: 0;
  margin:0;
} */
.carousel{
  position: relative;
}
.prev, .next{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.555);
  margin: 0;
  top:40%;
  border-radius: 35px;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}
.prev:hover, .next:hover{
  background-color: rgba(255, 217, 0, 0.555);
}
.prev{
  left:10px;
}
.next{
  right: 10px;
}
.testimonialCard p{
  font-size:medium;
}
.testimonialHeader{
  display: flex;
  gap: 50px;
}
.hidden{
  display: none;
}
.aboutSection{
  /* background-color:rgba(4, 23, 0, 0.888); */
  background-color: rgba(0, 0, 0, 0.555);
  padding: 120px 0px 100px 0px;
  gap:50px;
  justify-content: space-evenly;
}
.aboutImg{
  margin: auto;
  /* padding: 35px; */
  flex-shrink: 1;
  height: 550px;
}
.aboutText{
  margin: auto;
  text-align: left;
  width: 600px;
  text-indent: 50px;
}
.aboutText p, .secondaryTitle{
  padding: 10px;
}
.iconContainer{
  margin: auto;
  display: flex;
  gap: 50px;
  padding-left: 8%;
  margin-top: 30px;
}
.iconContainer img{
  filter: brightness(20%);
}
footer{
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 150px;
  padding-top: 100px;
  color: rgba(206, 206, 206, 0.8);
  gap: 150px
}
footer div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap:100px
}
footer h3{
  color:rgb(89, 124, 89);
}
footer span{
  font-size: 5em;
}
ul{
  text-align: left;
  padding: 20px;
}
.socials img{
  filter: saturate(0%);
  margin: 10px;
  cursor: pointer;
}
.socials img:hover{
  filter: saturate(100%);
}
li{
  display: flex;
  justify-content: space-between;
  gap:20px;
}
iframe{
  border: none;
}
.tableBookingSection{
  background-image: url(./assets/restaurant.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  width: 100%;
}
.manageBookingSection{
  background-color: #00000081;
  background-image: url(assets/restaurant4.jpg);
  background-size: cover;
  /* padding-top: 100px; */
}
.manageBookingSection ul{
  background-color: rgba(0, 0, 0, 0.555);
  color:#ffffff;
}
.emptyBooking{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:50px;
  align-items: center;
  background-color: rgba(35, 35, 35, 0.555);
  padding: 8%;
}
form, .thankYou{
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  min-height: 500px;
}
form, .formEdit, .thankYou{
  display: flex;
  padding: 8% 10%;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
}
.formEdit{
  gap:10;
  width: fit-content;
  margin:0
}
.formEdit li{
  align-items: center;
  height: 25px;
  width: 300px;
  margin: 0;
  padding: 0;
}
.wrapper label{
  width: 155px;
  text-align: left;
}
input, select{
  height: 35px;
}
input, select, textarea{
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 3px;
  padding: 2px 12px;
  border: none;
}
.invalid{
  border: 2px solid red;
  margin-right: 10px;
}
form label{
  font-weight: 600;
}
.radioInput{
display: flex;
align-items: center;
gap: 5px;
}
.deleteBtn{
  color:red;
  text-decoration: underline;
  font-size: 1.3em;
  cursor: pointer;
  margin-top: 50px;
}
.menuSection{
  justify-content: space-evenly;
  gap: 50px
}
.menuPage{
  padding: 5%;
  background-color: rgba(29, 29, 29, 0.333);
  text-align: center;
}
.menuPage p{
  margin: auto;
}
.menuSection{
  background-color: hsla(0, 0%, 11%, 0.555);
}
.menuCard{
  position: relative;
  height: 500px;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.555);
  background-image: url(./assets/itFood.jpg);
  /* background-size: cover; */
  background-position: right;
  background-blend-mode:hard-light;
  color: #232323;
  width: 350px;
  border-radius: 5px;
  transition: 1s;
  border: 5px solid rgba(4, 44, 0, 0.555);
  outline: 3px solid rgb(255, 255, 255);
}
.foodPng{
  position: absolute;
  right: -50px;
  top: -80px
}
.foodPnd{
  top: -80px;
  right:-80px;
}
.menuCard:hover{
  /* height: fit-content; */
  background-position: top;
  width:500px;
}
.menuCard ul{
  background-color: rgb(255, 255, 255);
}
.menuItem{
  display: flex;
  gap: 10px;
}
.points{
  border-bottom: 2px dotted gray;
  flex-grow: 1;
}
@media screen and (max-width: 770px){
  .navBar{
    display: none;
  }
  nav img{
    height: 55px;
  }
  .hamburgerMenu{
    display: block;
  }
  .specialitySection{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  form, .thankYou, header, footer{
    padding: 10% 6%;
  }
  .formEdit{
    margin: auto;
    padding: 10%;
  }
  .aboutImg{
    height: 350px;
  }
  header{
    width:85%;
  }
  footer{
    gap:10px;
  }
  footer div{
    gap:50px;
  }
  .foodPng{
    height: 130px;
    top:-50px;
    right:-15px;
  }
  header img{
    height: 82px;
  }
}
@media screen and (max-width: 1300px){
  header{
    background-image: none;
  }
}
@keyframes wooble {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}